<div id="create-vendor-panel" class="col-12 col-md-8 col-xl-9 p-2 py-1">
  <div class="container-fluid bg-light border border-color-dark rounded">
    <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Add Vendor</h5>
    <div id="create-vendor" class="p-2">
      <div class="row border border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Vendor Name:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <input id="vendorname" type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div id="control-bar" class="d-flex justify-content-end align-items-center mb-3">
      <div id="err" class="text-danger me-3"></div>
      <button id="create" class="btn btn-primary">Add Vendor</button>
    </div>
  </div>

</div>