<div id="create-location-panel" class="col-12 col-md-8 col-xl-9 p-2 py-1">
  <div class="container-fluid bg-light border border-color-dark rounded">
    <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Add Location</h5>
    <div id="create-location" class="p-2">
      <div class="row border border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Location Name:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <input id="name" type="text" class="form-control" />
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Type:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <select id="type" class="form-control"></select>
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Parent:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <select id="parent" class="form-control"></select>
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Description:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <textarea id="description" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div id="control-bar" class="d-flex justify-content-end align-items-center mb-3">
      <div id="err" class="text-danger me-3"></div>
      <button id="create" class="btn btn-primary">Add Item</button>
    </div>
  </div>

</div>