<nav class="navbar navbar-expand-lg bg-light border-bottom border-color-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href={{baseUrl ''}}><img class="pe-3" src={{baseUrl "/images/logo.png"}} height="30"/><b>{{displayTitle}}</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li> --}}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="pr-2 text-primary">Logged in as <b>{{username}}</b></span><a id="logout" class="nav-link d-inline-block px-2" href="">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>