<div id="scan-panel" class="col-12 col-md-8 col-xl-9 p-2 py-1" style="display:none;">
  <div class="container-fluid bg-light border border-color-dark rounded">
    <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Scan QR Code</h5>
    <div class="d-flex align-items-center p-2 pb-4">
      <div id="reader" style="width: 250px; height:250px;background-color:#ccc"></div>
    </div>
  </div>
</div>