{{>navbar}}
<section class="container-fluid mt-2">
  <div class="row">
    {{!-- manage inventory --}}
    <div class="col-12 col-md-4 col-xl-3 p-2 py-1">
      <div class="container-fluid bg-light border border-color-dark rounded">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Manage Inventory</h5>
        <div class="d-flex flex-column p-2 pb-4">
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-qrcode pe-2"></i> Scan Inventory Items</button>
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-cube pe-2"></i> Add Inventory Spec</button>
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-file-import pe-2"></i> Add Inventory Item</button>
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-map-location-dot pe-2"></i> Add Locations</button>
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-industry pe-2"></i> Add Vendors</button>
        </div>
      </div>
      {{!-- admin tasks --}}
      <div class="container-fluid bg-light border border-color-dark rounded mt-2">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Admin Tasks</h5>
        <div class="d-flex flex-column p-2 pb-4">
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-clipboard-check pe-2"></i> Manage Task Lists</button>
          
        </div>
      </div>
    </div>
    {{!-- quick search box --}}
    <div class="col-12 col-md-8 col-xl-9 p-2 py-1">
      <div class="container-fluid bg-light border border-color-dark rounded">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Quick Search</h5>
        <div class="d-flex align-items-center p-2 pb-4">
          <i class="fas fa-search text-primary" style="margin-right: 10px;"></i>
          <input id="quick-search" class="form-control" type="text" placeholder="search for a spec" style="flex:1;">
        </div>
        <div class="rounded border border-color-dark bg-white mb-3">
          <div id="quick-search-results" class="list-group border-0" style="height:300px; overflow-y:scroll;">
          </div>
          <a id="quick-search-li-template" href="" class="list-group-item list-group-item-action quick-search-li" style="display:none;">
            <p id="name" class="m-0"></p>
            <p id="sub" class="m-0 mb-2"></p>
            <div class="pb-2">
            <span id="total" class="badge rounded-pill bg-primary"></span>
            <span id="unopened" class="badge rounded-pill bg-primary"></span>
            <span id="opened" class="badge rounded-pill bg-dark"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/manageQuickSearch.js"></script>
<script src="/js/logout.js"></script>
