{{>navbar}}
<section class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 col-md-4 col-xl-3 p-2 py-1 d-flex flex-column-reverse flex-md-column">
      {{!-- manage inventory --}}
      <div class="container-fluid bg-light border border-color-dark rounded">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Manage Inventory</h5>
        <div class="inventory-subnav-group" role="group">
          <input type="radio" class="btn-check" name="btnradio" id="search" autocomplete="off" checked>
          <label class="btn btn-outline-primary text-start" for="search"><i class="fa-solid fa-search pe-2"></i><span class="d-none d-md-inline">Quick Search</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="scan" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="scan"><i class="fa-solid fa-qrcode pe-2"></i><span class="d-none d-md-inline">Scan Inventory Items</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-spec" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-spec"><i class="fa-solid fa-cube pe-2"></i><span class="d-none d-md-inline">Add Inventory Spec</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-item" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-item"><i class="fa-solid fa-file-import pe-2"></i><span class="d-none d-md-inline">Add Inventory Item</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-location" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-location"><i class="fa-solid fa-map-location-dot pe-2"></i><span class="d-none d-md-inline">Add Location</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-vendor" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-vendor"><i class="fa-solid fa-industry pe-2"></i><span class="d-none d-md-inline">Add Vendor</span></label>
        </div>
      </div>
      {{!-- admin tasks --}}
      {{#if (isAdmin access)}}
      <div class="container-fluid bg-light border border-color-dark rounded mb-2 mt-md-2">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Admin Tasks</h5>
        <div class="d-flex flex-column p-2 pb-4">
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-clipboard-check pe-2"></i> Manage Task Lists</button>
        </div>
      </div>
      {{/if}}
    </div>
    {{!-- quick search box --}}
    {{>quickSearch}}
    {{!-- scan QR codes --}}
    {{>scan}}
    {{!-- spec creation --}}
    {{>createSpec}}
    {{!-- item creation --}}
    {{>createItem}}
    {{!-- location creation --}}
    {{>createLocation}}
    {{!-- vendor creation --}}
    {{>createVendor}}
  </div>
</section>
<script src="/js/manageQuickSearch.js"></script>
<script src="/js/manageQRScan.js"></script>
<script src="/js/manageCreateSpec.js"></script>
<script src="/js/manageCreateItem.js"></script>
<script src="/js/manageCreateLocation.js"></script>
<script src="/js/manageCreateVendor.js"></script>
<script src="/js/manageDashboardMenu.js"></script>

<script src="/js/logout.js"></script>
