{{>navbar}}
<section class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 col-md-4 col-xl-3 p-2 py-1 d-flex flex-column-reverse flex-md-column">
      {{!-- manage inventory --}}
      <div class="container-fluid bg-light border border-color-dark rounded">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Manage Inventory</h5>
        <div class="inventory-subnav-group" role="group">
          <input type="radio" class="btn-check" name="btnradio" id="search" autocomplete="off" checked>
          <label class="btn btn-outline-primary text-start" for="search"><i class="fa-solid fa-search pe-2"></i><span class="d-none d-md-inline">Quick Search</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="scan" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="scan"><i class="fa-solid fa-qrcode pe-2"></i><span class="d-none d-md-inline">Scan Inventory Items</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-spec" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-spec"><i class="fa-solid fa-cube pe-2"></i><span class="d-none d-md-inline">Add Inventory Spec</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-item" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-item"><i class="fa-solid fa-file-import pe-2"></i><span class="d-none d-md-inline">Add Inventory Item</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-location" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-location"><i class="fa-solid fa-map-location-dot pe-2"></i><span class="d-none d-md-inline">Add Locations</span></label>
          <input type="radio" class="btn-check" name="btnradio" id="add-vendor" autocomplete="off" >
          <label class="btn btn-outline-primary text-start" for="add-vendor"><i class="fa-solid fa-industry pe-2"></i><span class="d-none d-md-inline">Add Vendors</span></label>
        </div>
      </div>
      {{!-- admin tasks --}}
      <div class="container-fluid bg-light border border-color-dark rounded mb-2 mt-md-2">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Admin Tasks</h5>
        <div class="d-flex flex-column p-2 pb-4">
          <button class="btn btn-primary m-1 text-center text-md-start"><i class="fa-solid fa-clipboard-check pe-2"></i> Manage Task Lists</button>
          
        </div>
      </div>
    </div>
    {{!-- quick search box --}}
    <div class="col-12 col-md-8 col-xl-9 p-2 py-1">
      <div class="container-fluid bg-light border border-color-dark rounded">
        <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Quick Search</h5>
        <div class="d-flex align-items-center p-2 pb-4">
          <i class="fas fa-search text-primary" style="margin-right: 10px;"></i>
          <input id="quick-search" class="form-control" type="text" placeholder="search for a spec" style="flex:1;">
        </div>
        <div class="rounded border border-color-dark bg-white mb-3">
          <div id="quick-search-results" class="list-group border-0" style="height:300px; overflow-y:scroll;">
          </div>
          <a id="quick-search-li-template" href="" class="list-group-item list-group-item-action quick-search-li" style="display:none;">
            <p id="name" class="m-0"></p>
            <p id="sub" class="m-0 mb-2"></p>
            <div class="pb-2">
            <span id="total" class="badge rounded-pill bg-primary"></span>
            <span id="unopened" class="badge rounded-pill bg-primary"></span>
            <span id="opened" class="badge rounded-pill bg-dark"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/manageQuickSearch.js"></script>
<script src="/js/logout.js"></script>
