{{>navbar}}
{{!-- <section class="p-4">
Dashboard!
</section> --}}
<section class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="container-fluid bg-light border border-color-dark rounded">
      <h5 class="fw-bold p-2 pt-4 pb-0 text-primary">Quick Search</h5>
        <div class="d-flex align-items-center p-2 pb-4">
          <i class="fas fa-search text-primary" style="margin-right: 10px;"></i>
          <input id="inventory_view_search" class="form-control" type="text" style="flex:1;">
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/logout.js"></script>