:root {

  --dark-glass: #44444455;
  --light-glass: #FFFFFF88;

  --dark: #444;
  
  --success: #60b369;
  --danger: #f3645a;
  --primary: #0b4f8c;
  --primary-highlight: #206bad;
  --dark: #444;
  --secondary: #CCC;
  --secondary-highlight: #AAA;
  --secondary-border: #dee2e6;
  --light: #f8f9fa;
  --light-highlight: #e7e8e9;

}


/* ----------------------------------
GENERAL STYLES
---------------------------------- */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.text-dark {
  color: var(--dark) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light-glass {
  background-color: var(--light-glass);
}

.bg-dark-glass {
  background-color: var(--dark-glass);
}

.btn-secondary, .bg-secondary {
  background-color: var(--secondary) !important;
}

.btn-secondary {
  border-color: var(--secondary) !important;
}

.btn-secondary:hover {
  border-color: var(--secondary-highlight) !important;
  background-color: var(--secondary-highlight) !important;
}

.btn-primary, .bg-primary {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  border-color: var(--primary-highlight) !important;
  background-color: var(--primary-highlight) !important;
}

.quick-search-li {
  border-left-width: 0px;
  border-right-width: 0px;
}

.quick-search-li:first-child {
  border-top-width: 0px;
}

.quick-search-li:last-child {
  border-bottom-width: 0px;
}

.btn-outline-primary {
  background-color: var(--light);
  border-color: var(--dark);
  --bs-btn-color: var(--dark) !important;
  --bs-btn-active-bg: var(--primary) !important;
  --bs-btn-active-border-color: var(--dark) !important;
  --bs-btn-hover-bg: var(--light) !important;
  --bs-btn-hover-border-color: var(--dark) !important;
}

.btn-check+.btn:hover {
  background-color: var(--light-highlight) !important;
  border-color: var(--dark) !important;
}

.btn-check:checked+.btn:hover {
  background-color: var(--primary) !important;
}

.inventory-subnav-group {
  display: flex;
  flex-direction: column;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 1.0rem;
}

.inventory-subnav-group .btn {
  margin: 0px;
  flex: 1;
  border-radius: 0px;
  margin-top: -1px;
  margin-bottom: -1px;
  text-align: left !important;
}

.inventory-subnav-group .btn:nth-child(2) {
  border-radius: 0.375rem 0.375rem 0 0;
}

.inventory-subnav-group .btn:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}

.detail-category {
  border-right: 1px solid var(--secondary-border);
}

@media screen and (max-width: 768px) {
 
  .inventory-subnav-group {
    display: flex;
    flex-direction: row;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    padding-bottom: 1.0rem;
  }
  
  .inventory-subnav-group .btn {
    margin: 0px;
    flex: 1;
    border-radius: 0px;
    margin-left: -1px;
    margin-right: -1px;
    text-align: center !important;
  }
  
  .inventory-subnav-group .btn:nth-child(2) {
    border-radius: 0.375rem 0 0 0.375rem;
  }
  
  .inventory-subnav-group .btn:last-child {
    border-radius: 0 0.375rem 0.375rem 0;
  }
  

}

@media screen and (max-width: 576px) {
  .detail-category {
    border-right: 0px;
    border-bottom: 1px solid var(--secondary-border);
  }
}